[submodule "software/misc-tools-utilities"]
	path = software/misc-tools-utilities
	url = https://github.com/apertus-open-source-cinema/misc-tools-utilities.git
	branch = master
[submodule "software/nctrl"]
	path = software/ctrl
	url = https://github.com/axiom-micro/nctrl
[submodule "software/webui"]
	path = software/webui
	url = https://github.com/axiom-micro/webui
